<h1>add new book</h1>

<form method="post" action="/books/new" class="snippet">
    <label for="title">author:</label>
    <input type="text" name="author" placeholder="author" required></input>
    <label for="title">title:</label>
    <input type="text" name="title" placeholder="title" required></input>
    <label for="title">published:</label>
    <input type="number" name="published" placeholder="year published" required></input>
    <button type="submit">Submit</button>
</form>
