<h1>add new friend</h1>

<form method="post" action="/friends/new" class="snippet">
    <label for="title">name:</label>
    <input type="text" name="name" placeholder="name" required></input>
    <label for="title">contact:</label>
    <input type="text" name="contact" placeholder="contact"></input>

    <button type="submit">Submit</button>
</form>